.header {
    height: 70px;
    margin-bottom: 60px;
}
.btn-orange {
    color: white;
    background-color: #ff7300;
    border-color: #ff7300;
    font-weight: bold;
}
.shadow {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}
.inner-shadow {
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
}
.font-size-16 {
    font-size: 16px;
}
.w-30-custom {
    width: 30%;
}
.custom-style {
    height: 50px;
    width: 100%;
}

@media only screen and (max-width: 1024px) {
    .main p {
        font-size: 16px;
    }
    .w-30-custom {
        width: 50%;
    }
    .btn-res {
        padding: 0 5px !important;
    }
}

@media only screen and (max-width: 680px) {
    .main p {
        font-size: 14px;
    }
    .w-30-custom {
        width: 100%;
    }
    .btn-res {
        padding: 0 5px !important;
    }
}
